.checkout {
  margin-top: 5rem;
  padding: 1rem;
}
.checkout_link {
  display: inline-block;
  text-decoration-style: double;
  margin-bottom: 1rem;
  color: var(--accent-beta);
}
.checkout_text {
  font-family: var(--secondary-font);
}
.checkout_loading,
.checkout_error {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}
.checkout_error {
  color: var(--accent-alpha);
}
