.card {
  padding: 10px;
  margin: 0 auto;
}
.card__link {
  color: var(--main-dark);
  text-decoration: none;
}
.card__image {
  object-fit: cover;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}
.card__btn__container {
  margin-top: 1rem;
}
