/* Skeleton animation */
.skeleton {
  background: var(--grey);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.skeleton::after {
  content: '';
  display: block;
  padding-top: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(var(--light), 0) 0,
    rgba(var(--light), 0.2) 20%,
    rgba(var(--light), 0.5) 60%,
    rgba(var(--light), 0)
  );

  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
/*  */

.prod__skeleton {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
  padding: 0 1rem;
}

.prod__skeleton__image {
  width: 100%;
}
.prod__skeleton__image::after {
  content: '';
  display: block;
  padding-top: 100%;
}
.skeleton__title {
  width: 250px;
  height: 45px;
  margin-bottom: 2rem;
}
.skeleton__text,
.skeleton__text--secondary,
.skeleton__text--terciary {
  height: 20px;
  margin-bottom: 1rem;
}
.skeleton__text {
  width: 300px;
}
.skeleton__text--secondary {
  width: 325px;
}
.skeleton__text--terciary {
  width: 270px;
}
.skeleton__btn {
  margin-top: 2rem;
  width: 100%;
  height: 45px;
}
@media (min-width: 768px) {
  .prod__skeleton {
    grid-template-columns: 1fr 1fr;
  }
}
