@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  /* Fonts */
  font-family: 'Roboto', sans-serif;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Autour One', cursive;

  /* Colors */

  --dark: 44, 44, 44;
  --light: 252, 252, 252;

  --alpha: 255, 95, 95;
  --beta: 43, 179, 192;

  --main-dark: rgb(var(--dark), 1);
  --main-light: rgb(var(--light), 1);
  --accent-alpha: rgb(var(--alpha), 1);
  --accent-beta: rgb(var(--beta), 1);
  --grey: #dddbdd;

  color: var(--main-dark);
  background-color: var(--main-light);
  /*  */

  /* z-indez */
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset */
#root,
#__next {
  isolation: isolate;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
img,
video,
canvas {
  width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
/* General styles */
.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--main-dark) var(--main-light);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: var(--main-light);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
  border-radius: 10px;
  border: 3px solid var(--main-light);
}
